ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea61", ATTR{product}=="Weather Datalogger", MODE="0666", GROUP="datalogger"

